@import "tailwindcss";
@plugin "daisyui";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@plugin "daisyui/theme" {
  name: "regentSweets";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(92% 0.013 255.508);
  --color-base-300: oklch(87% 0.065 274.039);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: oklch(67% 0.182 276.935);
  --color-primary-content: oklch(25% 0.09 281.288);
  --color-secondary: oklch(82% 0.189 84.429);
  --color-secondary-content: oklch(27% 0.077 45.635);
  --color-accent: oklch(71% 0.202 349.761);
  --color-accent-content: oklch(28% 0.109 3.907);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

.menu a {
    font-size: 1.125rem; /* Equivalent to text-lg in Tailwind */
    font-weight: bold;    
}

.footer div {
  align-items: center !important;
  text-align: center !important;
}

/* When screen size is large, align left */
@media (min-width: 1024px) {
  .footer div {
    align-items: flex-start !important;
    text-align: left !important;
  }
}





@import "react-responsive-carousel/lib/styles/carousel.min.css";
/* Default font */
html {
   font-family: var(--font-poppins);
}


/* Headings use a different font */
h1, h2, h3 {
    font-weight: 700;
}
:root {
  --background: #ffffff; /* Default to white */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Keep it white even in dark mode */
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* styles/globals.css */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 50; /* Ensure it stays above other elements */
}
.footer nav {
  display: block !important; /* Ensures it does not inherit flex */
  text-align: center; /* Forces center alignment */
}